[Unit]
Description=PgWatch2 Web UI

[Service]

Environment="PW2_WEBPORT=8080"
Environment="PW2_PGHOST=localhost"


Type=simple
User=pgwatch2
WorkingDirectory=/etc/pgwatch2/webpy
ExecStart=/usr/bin/python3 /etc/pgwatch2/webpy/web.py

[Install]
WantedBy=multi-user.target