version: 2
updates:

  # Maintain dependencies for Go modules
  - package-ecosystem: gomod
    directory: "pgwatch2/"
    schedule:
      interval: daily
      time: "04:00"
    open-pull-requests-limit: 10

    # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "daily"
