[Unit]
Description=Pgwatch2 Gathering Daemon
# if you're using the config DB approach and when on the same machine then it's a good idea to launch after Postgres
#Wants=postgresql@12-main.service
#After=postgresql@12-main.service

[Service]
User=pgwatch2
Type=notify
ExecStart=/usr/bin/pgwatch2-daemon -c /etc/pgwatch2/config/instances.yaml -m /etc/pgwatch2/metrics/
Restart=on-failure

[Install]
WantedBy=multi-user.target
