[Unit]
Description=Pgwatch2 Gathering Daemon

[Service]
User=pgwatch2
Type=notify
ExecStart=/usr/bin/pgwatch2-daemon -c /etc/pgwatch2/config/instances.yaml -m /etc/pgwatch2/metrics/
Restart=on-failure

[Install]
WantedBy=multi-user.target
