<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pgwatch2 :: DBs to monitor</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="/index"><h4>PgWatch2</h4></a></li>
        <li><a href="http://cybertec.at/en"><img src="/static/logo.png" alt="Cybertec" height="35px"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/dbs">DBs<span class="sr-only"></span></a></li>
        <li><a href="#">|</a></li>
        <li><a href="/metrics">Metrics</a></li>
        <li><a href="#">|</a></li>
        <li class="dropdown" title="Logs will open in a new window">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logs/pgwatch2/200" target="_blank">Pgwatch2 [last 200 lines]</a></li>
            <li><a href="/logs/influxdb/200" target="_blank">InfluxDB [last 200 lines]</a></li>
            <li><a href="/logs/grafana/200" target="_blank">Grafana [last 200 lines]</a></li>
            <li><a href="/logs/postgres/200" target="_blank">Postgres [last 200 lines]</a></li>
            <li><a href="/logs/webui/200" target="_blank">Web UI [last 200 lines]</a></li>
          </ul>
        </li>
        <li><a href="#">|</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container-fluid">

{% if message %}
<div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div>
{% endif %}
<h2>Databases under monitoring</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <td>ID</td>
                <td title="NB! Choose a good name as this shouldn't be changed later (cannot easily update InfluxDB data)">Unique name</td>
                <td>DB host</td>
                <td>DB port</td>
                <td>DB dbname</td>
                <td>DB user</td>
                <td title="NB! Password is stored in plain-text in the database">DB password</td>
                <td title="libpq 'sslmode' parameter. If 'require' or 'verify-full' then no metrics will be gathered if safe connection cannot be established">SSL Mode</td>
                <td title="Preset config OR custom config needs to be specified">Preset config</td>
                <td title='{"metric":interval_seconds,...}'>Custom config</td>
                <td title='In seconds. Should stay low for critical DBs'>Statement timeout [seconds]</td>
                <td>Last modified</td>
                <td>Enabled?</td>
                <td></td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for row in data: %}
            <tr>
                <form action="/dbs" method="post">
                    <td>{{row['md_id']}}<input type="hidden" name="md_id" value="{{row['md_id']}}"></td>
                    <td><input type="hidden" name="md_unique_name" value="{{row['md_unique_name']|e}}">{{row['md_unique_name']|e}}</td>
                    <td><input type="text" name="md_hostname" value="{{row['md_hostname']|e}}"></td>
                    <td><input type="text" name="md_port" value="{{row['md_port']|e}}" size="5"></td>
                    <td><input type="text" name="md_dbname" value="{{row['md_dbname']|e}}" size="15"></td>
                    <td><input type="text" name="md_user" value="{{row['md_user']|e}}" size="15"></td>
                    <td><input type="password" name="md_password" value="***" size="15" title="if left to default ***, password will not be changed"></td>
                    <td>
                        <select name="md_sslmode">
                            <option value="disable" {% if row['md_sslmode'] == "disable" %}selected{% endif %}>disable</option>
                            <option value="require"{% if row['md_sslmode'] == "require" %}selected{% endif %}>require</option>
                            <option value="verify-full"{% if row['md_sslmode'] == "verify-full" %}selected{% endif %}>verify-full</option>
                        </select>
                    </td>
                    <td>
                        <select name="md_preset_config_name"> <!-- TODO click with JSON -->
                            <option value="" title="Empty. 'Custom config' must be filled" ></option>
                            {% for pc in preset_configs %}
                            <option value="{{pc['pc_name']|e}}" {% if pc['pc_name'] == row['md_preset_config_name'] %}selected{% endif %}>{{pc['pc_name']|e}}</option>
                            {% endfor %}
                        </select>
                        <a class="show_metrics" href="/metrics" title="Show preset configs and metric definitions in a new window" target="_blank">show</a>&nbsp;|&nbsp;
                        <a class="copy_to_custom" href="" title="Copy JSON to 'Custom config' for editing">copy</a>
                    </td>
                    <td title='{"metric":interval,...}'><textarea name="md_config" cols="20">{% if row['md_config'] %} {{row['md_config']}} {% endif %}</textarea></td>
                    <td><input type="text" name="md_statement_timeout_seconds" value="{{row['md_statement_timeout_seconds']}}" size="3"></td>
                    <td>{{row['md_last_modified_on']}}</td>
                    <td><input type="checkbox" name="md_is_enabled" {% if row['md_is_enabled'] %}checked{% endif %}></td>
                    <td><input type="submit" class="save" name="save" value="Save"></td>
                    <td><input type="submit" name="delete" value="Delete"></td>
                </form>
            </tr>
            {% endfor %}
            <tr>
                <form action="/dbs" method="post">
                    <td></td>
                    <td><input type="text" name="md_unique_name" value="" size="10" title="NB! Choose a good name as this shouldn't be changed later (cannot easily update InfluxDB data)"></td>
                    <td><input type="text" name="md_hostname" value=""></td>
                    <td><input type="text" name="md_port" value="5432" size="5"></td>
                    <td><input type="text" name="md_dbname" value="" size="15"></td>
                    <td><input type="text" name="md_user" value="" size="15"></td>
                    <td><input type="password" name="md_password" value="" size="15"></td>
                    <td>
                        <select name="md_sslmode">
                            <option value="disable">disable</option>
                            <option value="require">require</option>
                            <option value="verify-full">verify-full</option>
                        </select>
                    </td>
                    <td>
                        <select name="md_preset_config_name"> <!-- TODO click with JSON -->
                            <option value="" title="Empty. 'Custom config' must be filled" ></option>
                            {% for pc in preset_configs %}
                            <option value="{{pc['pc_name']|e}}">{{pc['pc_name']|e}}</option>
                            {% endfor %}
                        </select>
                        <a class="show_metrics" href="/metrics" title="Show JSON config in a new window" target="_blank">show</a>&nbsp;|&nbsp;
                        <a class="copy_to_custom" href="" title="Copy JSON to 'Custom config' for editing">copy</a>
                    </td>
                    <td title='{"metric":interval,...}'><textarea name="md_config" value="" cols="20"></textarea></td>
                    <td><input type="text" name="md_statement_timeout_seconds" size="3" value="5"></td>
                    <td></td>
                    <td><input type="checkbox" name="md_is_enabled" checked></td>
                    <td><input type="submit" class="new" name="new" value="New"></td>
                    <td></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>

    <h2>Active metrics listing</h2>
    <ul>
    {% for m in metrics_list: %}
        <li style="display: inline"><b>{{m['m_name']}}</b> [ver: {{m['versions']}}]</li>
    {% endfor %}

    </ul>
</div>
<!-- TODO check for only preset or custom config -->

<script src="/static/jquery-3.1.1.min.js"></script>
<script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

<script>
    var preset_configs = {{preset_configs_json}};

    $(document).ready(function(){
        $(".copy_to_custom").click(function(event){
            event.preventDefault();

            var preset_config_json = preset_configs[$(this).parent().find("[name='md_preset_config_name']").val()];
            // alert(preset_config_json);
            $(this).parent().parent().find("[name='md_config']").val(preset_config_json);
            $(this).parent().find("select").val("");
            return false;
        });

        $(".show_metrics").click(function(event){
            $(this).attr('href', $(this).attr('href') + '#' + $(this).parent().find("select").val());
        });

        $(".save").add('.new').click(function(event){
            var custom_config = $(this).parent().parent().find("[name='md_config']").val();
            var preset_config = $(this).parent().parent().find("[name='md_preset_config_name']").val();
            if (custom_config > '' && preset_config > '') {
                alert('Preset OR custom config needs to be specifief!');
                return false;
            }
        });
    });
</script>
</body>
</html>
