<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pgwatch2 :: Overview</title>
    <link rel="stylesheet" href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  </head>

  <body>

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>-->
        <li><a href="/index"><h4>PgWatch2</h4></a></li>
        <li><a href="https://www.cybertec-postgresql.com/en/"><img src="/static/logo.png" alt="Cybertec" height="35px"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/dbs">DBs</a></li>
        <li><a href="#">|</a></li>
        <li><a href="/metrics">Metrics</a></li>
        <li><a href="#">|</a></li>
        <li class="dropdown" title="Logs will open in a new window">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logs<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/logs/pgwatch2/200" target="_blank">Pgwatch2 [last 200 lines]</a></li>
            <li><a href="/logs/influxdb/200" target="_blank">InfluxDB [last 200 lines]</a></li>
            <li><a href="/logs/grafana/200" target="_blank">Grafana [last 200 lines]</a></li>
            <li><a href="/logs/postgres/200" target="_blank">Postgres [last 200 lines]</a></li>
            <li><a href="/logs/webui/200" target="_blank">Web UI [last 200 lines]</a></li>
            <li><a href="/versions" target="_blank">Component versions</a></li>
          </ul>
        </li>
        <li><a href="#">|</a></li>
        <li><a href="/logout">Log out</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <div class="container-fluid">

      <div class="row">

        <div class="col-sm-2 sidebar" style="margin-top: 30px">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/index">Overview<span class="sr-only"></span></a></li> <!-- TODO highlighting not working -->
            <li><a href="/index?page=statements">pg_stat_statements report</a></li>
          </ul>
        </div>

        <div class="col-sm-10 main">

          {% if page == 'index' %}

            <h2 class="sub-header">DB overview {% if dbname %}for "{{dbname}}"{% endif %}</h2>
            <form action="/index" method="get">
            <select name="dbname">
              <option></option>
              {% for db in dbnames  %}
              <option value="{{db}}" {% if db == dbname %}selected{% endif %}>{{db}}</option>
              {% endfor %}
            </select>
            <input type="submit" name="show" value="Show">
            </form>
            {% if data %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Attribute</th>
                    <th>Last 7d avg</th>
                    <th>Last 24h avg</th>
                    <th>Last 1h avg</th>
                  </tr>
                </thead>
                <tbody>
                  {% for key, values in data  %}
                  <tr>
                      <td>{{key}}</td>
                      <td>{{values[0]}}</td>
                      <td>{{values[1]}}</td>
                      <td>{{values[2]}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

          {% elif page == 'statements' %}

            <h2 class="sub-header">pg_stat_statements Top 50 by {{sort_column}} {% if dbname %}for "{{dbname}}"{% endif %}</h2>
            <form action="/index" method="get">
            <input type="hidden" name="page" id="page" value="statements">
            <input type="hidden" name="sort_column" id="sort_column" value="{{sort_column}}">
            <select name="dbname">
              <option></option>
              {% for db in dbnames  %}
              <option value="{{db}}" {% if db == dbname %}selected{% endif %}>{{db}}</option>
              {% endfor %}
            </select>
            <input type="text" name="start_time" value="{{start_time}}" size="28" title="Time has to be in ISO-8601 format (UTC)">
            <input type="text" name="end_time" value="{{end_time}}" size="28" title="Time has to be in ISO-8601 format (UTC)">
            <input type="submit" name="show" value="Show">
            </form>
            {% if data %}
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th title="Click to view in Grafana">queryid</th>
                    <th title="In normalized form (spaces removed etc)">query</th>
                    <th title="In milliseconds. Click to sort"><a class="sort_column" href="">total_time</a></th>
                    <th title="In milliseconds. Click to sort"><a class="sort_column" href="">mean_time</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">calls</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">shared_blks_hit</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">shared_blks_read</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">shared_blks_written</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">temp_blks_read</a></th>
                    <th title="Click to sort"><a class="sort_column" href="">temp_blks_written</a></th>
                    <th title="In milliseconds. Click to sort"><a class="sort_column" href="">blk_read_time</a></th>
                    <th title="In milliseconds. Click to sort"><a class="sort_column" href="">blk_write_time</a></th>
                  </tr>
                </thead>
                <tbody>
                  {% for d in data %}
                  <tr>
                    <td><a href="{{grafana_baseurl}}/dashboard/db/single-query-details?var-queryid={{d['queryid']}}&var-dbname={{dbname}}" target="_blank">{{d['queryid']}}</td>
                    <td>{{d['query']}}</td>
                    <td>{{d['total_time']}}</td>
                    <td>{{d['mean_time']}}</td>
                    <td>{{d['calls']}}</td>
                    <td>{{d['shared_blks_hit']}}</td>
                    <td>{{d['shared_blks_read']}}</td>
                    <td>{{d['shared_blks_written']}}</td>
                    <td>{{d['temp_blks_read']}}</td>
                    <td>{{d['temp_blks_written']}}</td>
                    <td>{{d['blk_read_time']}}</td>
                    <td>{{d['blk_write_time']}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% endif %}

          {% endif %}

        </div>
      </div>
    </div>


    <script src="/static/jquery-3.1.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    <script>
      $(document).ready(function(){
          $(".sort_column").click(function(event){
              event.preventDefault();

              $('#sort_column').val($(this).html());
              document.forms[0].submit();

          });
      });
    </script>
  </body>
</html>
